[2017-03-16 09:47] pomek opened #1 "Introduce CKEditor 5 classic build"
As described here https://github.com/ckeditor/ckeditor5/issues/408.

[2017-03-16 10:23] pomek commented on #1
Required ticket: https://github.com/ckeditor/ckeditor5-dev/issues/131.

[2017-03-16 13:26] ma2ciek opened #2 "Duplicated licenses"
I see a lot of:

[code]

especially in the [es6 build](https://github.com/ckeditor/ckeditor5-build-classic/blob/0bf5c2d4e9136194451e9faf7e6ef2f23d71fc79/build/ckeditor.es6.js) where the license is added per each file in the project. Can we remove them and add one at the top to optimise the file size?

[2017-03-16 13:31] pomek commented on #2
Guys, I'm still working on this code…

![image](https://cloud.githubusercontent.com/assets/2270764/23998354/2377b616-0a55-11e7-846a-a0cbb00ea508.png)

[2017-03-16 13:36] ma2ciek commented on #2
Don't take it to personally :D Now you have an option to close one more ticket when you finish the job ;) It's the result of the webpack builder which I was also implementing so it's particularly my oversight ;)

[2017-03-16 13:38] pomek commented on #2
To be honest, this ticket should be reported as a comment here https://github.com/ckeditor/ckeditor5-dev/issues/131 :D

[2017-03-16 14:11] pomek commented on #2
Options for removing comments from compiled code does not work… @Reinmar noticed it earlier https://github.com/babel/babili/issues/396#issuecomment-276644610.

[2017-03-16 14:23] ma2ciek commented on #2
So it could be a part of webpack / rollup compilation then. Maybe not the best option, but in the end it may work.

[2017-04-03 14:32] Reinmar commented on #2
Will be fixed by #3.

[2017-04-03 14:32] #2 closed

[2017-04-03 14:33] Reinmar commented on #2
Or actually, it was fixed by https://github.com/ckeditor/ckeditor5-dev/commit/a695ac50a3e251d549fd221f7e1a4b2fb481a019.

[2017-04-03 14:50] #1 closed

[2017-04-04 07:12] VincentClair opened #4 "Webpack dependencies, Yarn"
Hello,

I have not installed globally some dependencies:
- style-loader
- raw-loader
- css-loader
- sass-loader
- node-sass

So i get many errors before i can build the package. Maybe those dependencies have to be added to package.json ?

Also, have you studied using yarn to fix dependencies versions and commit yarn.lock file ?

[2017-04-04 08:14] Reinmar commented on #4
Oops. Right. I moved the script for rebuilding the package at the very end of the review and I must have had these dependencies installed somewhere else. Thanks for checking!

We're watching Yarn constantly and I've been even testing that it works well for CKEditor. We may consider switching to it at some point but we don't want to do it prematurely. If it's gonna stabilise (it didn't work for CKE

[2017-04-04 09:06] #4 closed

[2017-04-05 13:59] Reinmar opened #5 "Do we want to add block quote to the classic build?"
Since we identified 3 quotation features (see https://github.com/ckeditor/ckeditor5/issues/419) we'd need to decide which of them (or none) should be available in the classic build.

[2017-04-06 09:20] Reinmar opened #6 "Automate rebuilding the editor before publishing"
I've just noticed that I forgot to rebuild the editor before publishing it ;<

It'd be good to automate this so it never happens again. However, I'm not sure if we can freely add npm prepublish hook for that because that will happen already after tagging the release. So, we either need some earlier hook or to somehow integrate this with our release tools.

[2017-04-06 09:22] Reinmar commented on #6
PS. There would be no problem if we haven't kept bundles in the repo, but I'd like them to be here. So, that's why I'd like to commit new bundles before the release is tagged.

[2017-04-06 09:27] Comandeer commented on #6
The only gotcha with `prepublish` hook is that it also run in case of `npm install` in npm <= 4. Therefore to detect if `prepublish` is really exec as a part of publish process [`in-publish` package can be used](https://github.com/BEMQuery/bemquery-package-boilerplate/blob/master/package.json#L21).

[2017-04-06 09:30] Reinmar commented on #6
OK, I guess I don't know enough about the process. I thought that it goes like this: first, you bump up the version and tag that change. And then you publish that to npm.

[2017-04-06 09:32] Reinmar commented on #6
Actually, I can see that you're building your package on `preversion`: https://github.com/BEMQuery/bemquery-package-boilerplate/blob/master/package.json#L19. That makes sense to me. But I'm not entirely sure that our release tool uses `npm version`. If not, perhaps it should.

[2017-04-06 12:42] Comandeer commented on #6
I build it on `preversion` just because I'd like to have `dist/` directory on `master` branch when new release is created.

The whole process is rather simple:
* `npm version <type>` bumps the `version` in `package.json` and if it's executed inside git repository, it also create git tag (but it doesn't push anything and that's why I'm doing it manually in `postversion`. That's everything `npm vers

[2017-04-06 12:43] Reinmar commented on #6
That's exactly what we want too! :D

[2017-04-06 17:14] Reinmar opened #7 "Minify CSS"
I noticed we don't minify CSS here :D

[2017-04-06 17:19] Reinmar commented on #7
This is the way to do that: https://github.com/ckeditor/ckeditor5-labs/blob/af3bc69c78a65f6c6334a73c7e076852d4a61300/integrations/webpack/webpack.config.js#L51

[2017-04-07 07:56] Reinmar opened #8 "Consider switching to Rollup"
We've been using Rollup initially because it gives smaller builds and had ES6 modules support out of the box, but we had to stop using it because of https://github.com/rollup/rollup-plugin-node-resolve/issues/67.

That issue is resolved now and we can again check if Rollup wouldn't be better. The things to verify will be the stability of integration with Babili (with sourcemaps – I know there were

[2017-04-07 14:17] fredck commented on #5
It should have all ER Article features, therefore it should be included. Both "Block Quoting" and "Pull Quote" make sense there.

[2017-04-11 11:46] fredck opened #9 "Use "essentials" preset"
We could assume that custom builds will be made out of forks for official builds. Therefore, to make it easier to maintain custom builds, we should include the "essentials" preset in the [list of plugins included in the build](https://github.com/ckeditor/ckeditor5-build-classic/blob/f280a8bc66f6f8ff3b74ff4e93e0fb3c6de79827/config-build.js#L11-L27). I would even include it as the first in the list,

[2017-04-20 12:04] fredck opened #10 "Getting rid of config-editor.js"
Couldn't we just have an entry named `config` in `config-build.js` with the configurations of the built editor?

This would allow one to be focused in one file only. Also, a common task will be adding features, having two files to remember to touch just makes it more painful. Or when I remove one plugin, I forget to remove it from the other file.

In few words, it would just make it simpler.

[2017-04-20 12:06] Reinmar commented on #10
Hm... hm... That might be possible. And having one file is indeed better.

I'd call the property `editorConfig` for clarity why there's config in the config.

So, we'll be left with on config file so we could change its name back to `build-config.js` which sounds better.

[2017-04-20 12:17] Reinmar commented on #10
I've just realised that this may limit heavily what options can be set in the editor config. Currently, `config-editor` could import any editor code so e.g. you can do this:

[code]

If we move editor config to the build config this won't be possible because such a `require()` call will also be executed by Node.js when we run the task to update the entry file.

So, I'm afraid that keeping the conf

[2017-04-20 13:34] fredck commented on #10
I'm afraid that adding or remove whatever to the editor will always involve touching both files (plugin in one file and toolbar in the other). I would prefer to prioritize outsiders and make it simpler for them to handle it. I would go with merging the files and figure out how to handle more complex cases later.

[2017-04-20 19:37] Reinmar commented on #10
There will be no "later" – if we go with one file we won't be able to import ES6 and non-Node stuff there.

But I agree that prioritising simplicity is better in this case. There's always the option to directly specify config in `ckeditor.js` if one needs to. There, you can do whatever you want because only a bundler touches this file.

[2017-04-27 08:45] Reinmar opened #11 "Bundling a different language"
By default, English strings are used in the bundles. We can make it configurable by specifying the language in `build-config.js` and reading it from Webpack config files.

[2017-05-03 16:51] #7 closed

[2017-05-03 16:53] Reinmar commented on #7
Interestingly, even though the build to which I compared the size was done on a month old codebase (with less features), after enabling CSS minification the overal size decreased so there was quite a lot to gain.

Old buid:

[code]

New build:

[code]

[2017-05-03 17:04] #9 closed

[2017-05-03 17:56] #5 closed

[2017-05-15 14:42] Reinmar opened #12 "The export name follows editor class name not the build name"
This is not a problem now because there's classic build which uses the classic editor so we have `ClassicEditor` no matter which way we'll go.

But in the future, we may have a contextual build using the inline editor and currently, the global's name would be `InlineEditor` while the user of the contextual editor build would, most likely, expect `ContextualEditor`.

[2017-05-23 13:32] Reinmar commented on #10
Just to make it clear what is the easiest way around – if we'll place the config in the `build-config.js`, then `ckeditor.js` can import it like this:

[code]

The only problem with this solution (other than what we discussed above) is that it will make the bundle slightly bigger because the entire contents of `build-config.js` will be included.

[2017-05-23 13:36] Reinmar commented on #10
After second thought – let's copy the config to `ckeditor.js` to avoid this issue. It will be slightly time-consuming but it's worth to have it right in builds.

[2017-05-29 12:24] #10 closed

[2017-08-10 08:50] Reinmar commented on #11
An example of using our Webpack plugin is here: https://github.com/ckeditor/ckeditor5-labs/tree/master/integrations/webpack-localization

[2017-08-10 10:10] pomek commented on #11
A lot of translation' files are missing:

![image](https://user-images.githubusercontent.com/2270764/29165963-eaa97e80-7dc4-11e7-956e-df59d228d7bf.png)

[2017-08-10 10:12] Reinmar commented on #11
Maybe true right now since we haven't regenerated them for a long time. I'll do it today.

[2017-08-10 10:13] pomek commented on #11
But it works :D

![image](https://user-images.githubusercontent.com/2270764/29166070-4f55f7dc-7dc5-11e7-9854-a8c973894e76.png)

[2017-08-10 10:14] pomek commented on #11
The question is – should we add the `CKEditorWebpackPlugin` every time or only if the specified language is other than `en`?

[2017-08-10 10:17] Reinmar commented on #11
I think all the time. To KISS and to make sure that the translations (even en->en) are used.

[2017-08-10 10:45] Reinmar commented on #11
I can't upload the translations for now: https://github.com/ckeditor/ckeditor5-dev/issues/249.

[2017-08-15 11:54] #11 closed

[2017-08-15 12:05] Reinmar opened #15 "Update dependencies"
Blocked by https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/54 because the currently available version of Babili (0.1.*) still doesn't have https://github.com/babel/minify/issues/611 fixed.

[2017-08-21 09:37] wwalc opened #16 "ERROR in ./ckeditor.js Module not found: Error: Can't resolve '@ckeditor/ckeditor5-editor-classic/src/classiceditor"
1. Setup [development environment](https://github.com/ckeditor/ckeditor5/wiki/Development-Environment)
2. `cd packages/ckeditor5-build-classic`
3. `npm install`
4. `npm run build`

[code]

[2017-08-21 09:50] Reinmar commented on #16
Unfortunately, @wwalc did all correctly. Except that, he has npm 5.x. And it turned out that e.g. ckeditor5-utils deps are symlinked, but ckeditor5-build-classic deps are not. This is a problem with Lerna apparently.

[2017-08-21 10:12] Reinmar commented on #16
Let's work on this in https://github.com/ckeditor/ckeditor5/issues/524.

[2017-08-21 10:12] #16 closed

[2017-08-22 19:51] wwalc opened #17 "Consider using keywords to mark CKEditor 5 builds in NPM"
In documentation we mention the following link: https://www.npmjs.com/search?q=%40ckeditor%2Fckeditor5-build as a place where one will find all available CKEditor 5 builds. The problem is that it also lists the `@ckeditor/ckeditor5-dev-docs` package and in the future the situation may only get worse because search does not work as we would wish (see e.g. the results for https://www.npmjs.com/searc

[2017-08-23 09:41] Reinmar opened #18 "Extract CSS from JS"
I think that it's more reasonable to have separate CSS and JS files. In many places we have Webpack configured to simply load CSS into JS files. While convenient, this caused us some problems. Namely, you delay loading JS as much as possible (usually, keep it close to `</body>`). This means that the `<link>` with CSS will be added very late to the `<head>` which gives you no control over the order

[2017-08-24 08:43] oleq commented on #18
Sounds like a plan. How much work is it?

[2017-08-24 11:00] Reinmar commented on #18
10 minutes :D Plus updating documentation – 2h ;)

[2017-08-27 19:59] Reinmar commented on #15
@pomek, could you take it over from me?

Please review all deps.

[2017-08-28 14:28] wwalc opened #20 "Is ckeditor.compat.js really needed?"
Initially I wanted to report it as a docs issue in https://github.com/ckeditor/ckeditor5 but then thought that perhaps we are offering something that has no sense at this moment? I mean, does the transpiled distribution `ckeditor.compat.js` bring any additional browser support? Isn't it that we are currently using features that only browsers with ES6 support include?

I'm having a hard time trying

[2017-08-28 14:45] fredck commented on #20
The idea is keeping `ckeditor.js` as a pure ES6 script, while `ckeditor.compat.js` is the transpiled version of that same script with the minimum necessary changes to work in our whole range of compatible browsers.

The problem is that the "minimum necessary" may be a lot and the file may be much bigger.

It is a great idea to give the option to developers to decide which file to load depending on

[2017-08-31 08:58] wwalc commented on #18
We'd need also to instruct in the documentation how to avoid caching issues (e.g. in best practices) for users downloading zip packages or people loading files from node_modules, where the version number is not included in a path. In case of a single file with the editor the only risk is that someone will use outdated ckeditor.js. In case of multiple files the risk is that there will be ckeditor.j

[2017-08-31 09:56] #15 closed

[2017-08-31 10:10] Reinmar commented on #20
@wwalc is right – I figured this out after we introduced the compat build (and perhaps reported it somewhere). All browsers that we do support have support for ES6. So I can't point you to a browser which might need the compat build. This will change only if we'll start supporting some legacy browsers like IE11 or something I'm not even aware of right now.

I'm all for removing the compat build.

[2017-08-31 10:54] fredck commented on #20
Well, if there is no transpilation happening at this stage, it doesn't make sense having "compat", indeed.

The good thing is that, if we'll ever introduce it in the future, it should be fine, as developers will have an "opt-in" way to decide whether they will want compatibility with the new legacy browsers supported.

[2017-08-31 11:06] Reinmar commented on #20
To make it clear – that build uses transpilation. It's that no browser needs that.

And to make it even more clear – the kind of compatibility issues that we encountered are with HTML APIs, not the language itself. E.g. missing `Symbol.iterator`s, missing `Range()` constructor, or broken clipboard API, etc (mostly in Edge). Transpilation doesn't help here unfortunately.

[2017-08-31 11:13] fredck commented on #20
Does this mean that we should move support for Edge to "compat" and leave `ckeditor.js` without any transpilation?

[2017-08-31 12:19] Reinmar commented on #20
What do you mean by "move"?

Edge works fine with `ckeditor.js` already and `ckeditor.js` doesn't use any transpilation.

[2017-08-31 12:35] fredck commented on #20
Ah, sorry... got confused when reading your previous comment, misreading the last phrase in it.

So it's all set then to remove compat for now, I assume.

[2017-08-31 15:53] #20 closed

[2017-08-31 15:56] #17 closed

[2017-08-31 16:05] Reinmar commented on #18
You had to ruin the fun :P Where do you think we should mention this? I feel that wherever we'll put it, there will still be developers who will forget about the cache. It's not only CKE's problem and you're not able to document it everywhere.

[2017-09-01 09:55] fredck commented on #18
Performance wise, it is not ideal to have our CSS in the header.

CSS is "render blocking", so our CSS loading will block rendering the page, even if it is used only when editors are created. Therefore, it is ideal to have this CSS loaded later.

Other than that, it'll introduce a bit more complication for implementors, added by the issue identified by Wiktor.

Then regarding the possibility of ov

[2017-09-01 10:00] oleq commented on #18
@fredck Both fiddles look the same. I think something went wrong.

[2017-09-01 10:03] wwalc commented on #18
If we decide to go with separate CSS file then we could come with some generic "Best practices" article for CKEditor 5 builds, where we'd list various hints for users, including this one. Let's see if we go with the separate CSS file first. Sorry :D

[2017-09-01 10:25] fredck commented on #18
@oleq, there was some mess with JSFiddle... I've updated the links... can you check it again?

[2017-09-01 10:48] Reinmar commented on #18
I'm afraid that this isn't that simple. I'm not an expert myself, but e.g. if you have CSS files in the `<head>` from the start of when the browser parses the HTML it can start prefetching them as soon as possible. And they are all available at one point and the page can be rendered once.

If you have JS adding CSS later, the page needs to be re-rendered which is heavier for CPU (which is an impor

[2017-09-01 10:59] fredck commented on #18
The point is privileging the download performance (which is much more impacting than re-rendering), so users will be able to see the page content earlier. We should not care about the browser rendering performance by itself, in this specific case.

I'm for checking about the possibility of having the Webpack loader pushing the CSS to the top of head.

[2017-09-01 11:30] oleq commented on #18
There's https://github.com/webpack-contrib/style-loader#insertat.

[2017-09-03 18:41] Reinmar commented on #6
This is must-have. I again forgot to rebuilt the builds before publishing everything.

[2017-09-05 19:33] wwalc opened #21 "CKEditor does not update replaced textarea automatically"
Not sure if it's a bug or by design. If by design then we need to document this.
I was expecting that if I instruct the classic editor to replace a textarea, it will do the magic like updating the "hidden" textarea in surrounding form with latest content automatically (on submit let's say). Unfortunately that does not happen.

To reproduce click here: https://jsfiddle.net/wutzo173/

[2017-09-06 08:24] Reinmar commented on #21
CKEditor 5 on JSFiddle. Yeeey! :)

I'll move this ticket to ckeditor/ckeditor5 because it's broader than being just about the build.

[2017-09-06 08:24] #21 closed

[2017-09-13 10:12] #6 closed

[2017-09-14 11:19] Reinmar opened #23 "Change the repo structure"
As agreed in https://github.com/ckeditor/ckeditor5/issues/541

1. Move deps to dev deps. Build should have no deps.
2. Move `ckeditor.js` to `src/ckeditor.js`.
3. Clean up the sample (https://github.com/ckeditor/ckeditor5/issues/535).

[2017-09-14 11:26] Reinmar commented on #23
Actually, it's more. Because not only we want to change the repository structure but also the npm package's content. See https://github.com/ckeditor/ckeditor5/issues/541#issuecomment-327215713

[2017-09-14 15:27] fredck commented on #23
Not sure this has been agreed, but anyway, I don't think it makes sense changing this.

In deps, we have the code which is referenced in the source code of the project. All the imports, usually

In dev-deps, we have the development stuff... things that don't have anything to do with the source code.

So I think we're doing this in the right way right now.

[2017-09-14 15:31] Reinmar commented on #23
Did you read my comment https://github.com/ckeditor/ckeditor5/issues/541#issuecomment-327191768?

[2017-09-14 15:32] Reinmar commented on #23
We're not. The package has no dependencies. The bundle doesn't need anything to work. And the npm package will contain only the bundle.

[2017-09-14 15:38] fredck commented on #23
Ha... I got your point... and that's because we're using the repo for two things at the same time... to hold the source code and to distribute the bundle. In reality, each should have their own package.json and be separate projects :/

Shouldn't the build folder contain a dedicated package.json then and that folder be the one we use to distribute the bundle in npm?

[2017-09-14 15:40] fredck commented on #23
Btw, did you read my comment :D
https://github.com/ckeditor/ckeditor5/issues/541#issuecomment-327196817

[2017-09-14 15:43] fredck commented on #23
In fact, the build folder IS the one published to npm and zipped. So it has to have its own package.json and the one that we use at the root of this repo has nothing to do with that.

[2017-09-14 15:49] fredck commented on #23
Btw, all this make think about this... should we include the `/build` folder inside this repo or .gitignore it? I don't think it makes sense having it here as all builds will be in npm.

[2017-09-15 13:30] Reinmar commented on #23
We may consider gitignoring it. But this means that you'll have a bit longer way to the first success after cloning this repo. I'm ok with both situations.

We may have there a simple `package.json`. Then, the main one would be marked as "private". I'd also add `build/README.md` and `build/LICENSE.md` then. However, `CHANGELOG.md`, for instance, needs to be copied because it should also be in the

[2017-09-17 17:32] Reinmar opened #24 "Should we bring back compat builds?"
In https://github.com/ckeditor/ckeditor5-build-classic/issues/20, not being able to name an environment in which transpiling to ES5 would be needed (all browsers that we support have sufficient ES6 support), we killed the compat builds.

Guess what? 3 weeks later we have a case in our hands :) See https://github.com/ckeditor/ckeditor5/issues/560 and https://github.com/ckeditor/ckeditor5/issues/347

[2017-09-18 08:01] fredck commented on #24
IMO, the compat version should target our compatibility target. We should transpile as little as possible because we all know how big the full ES5 version can be. This will also lead people to be lazy and not make much effort to figure out how to eventually go with the ES6 version.

We came with the idea of compat so that one can use ES6 for some browsers and "compat" for other browsers AT THE SAM

[2017-09-18 08:23] Reinmar commented on #24
Configuration – so you're thinking about asking people to clone and rebuild the editor? Maybe we could simply have a guide for that?

IE11 will need full transpilation to ES5 anyway. However, it may also need some additional code to be loaded (not much, I hope). So the compat build will be this ES5 version + compat layer.

[2017-09-18 08:37] fredck commented on #24
Yes, something like that. Would this solve their problems?

[2017-09-21 08:17] pomek commented on #23
I am wondering whether we could add a `files` key to `package.json`.

When we install the build, we don't need to have all these files. I guess we could publish only the `build/` directory (and the basic files like README, CHANGELOG, package.json).

But if the build will not contain the `bin/` directory and `build-config.js` files, it will be hard to customize the build. WDYT?

[2017-09-21 08:17] pomek commented on #23
`sample/` directory should be published too (according to https://github.com/ckeditor/ckeditor5/issues/535#issuecomment-326894240).

[2017-09-21 08:19] pomek commented on #23
Hm. My bad, we have a `.npmignore` file which defined which files are ignored. So, ignore my comments.

[2017-09-21 08:34] pomek commented on #23
ATM I did the first and second points from the first post of the issue. The last point is waiting for an image to sample (https://github.com/ckeditor/ckeditor5/issues/535#issuecomment-331080210).

* https://github.com/ckeditor/ckeditor5-build-classic/compare/t/23
* https://github.com/ckeditor/ckeditor5-build-inline/compare/t/ckeditor5-build-classic/23
* https://github.com/ckeditor/ckeditor5-build-

[2017-09-21 09:11] pomek commented on #23
According to https://github.com/ckeditor/ckeditor5/issues/535#issuecomment-331091205, should we remove `sample/` directory from the repository?

If no, let me know what I should change.

cc: @wwalc

[2017-09-21 11:16] wwalc commented on #23
Confirmed, let's remove samples.

[2017-09-21 11:37] Reinmar commented on #23
From the repo? Why. It does not make sense to publish it but it might help when rebuilding the editor in a cloned repo.

Sent from my iPhone

[2017-09-24 13:10] Reinmar commented on #18
OK, let's leave this topic for now. In 1.0.0 alpha we'll go with what we have currently (single file).

[2017-09-27 06:40] pomek commented on #23
Because we have two answers which denied each other, I would like to ask one more time – what should I do with the `sample/` directory?

[2017-09-27 07:59] Reinmar commented on #23
The directory should be kept in the repo but must not be published.

[2017-09-27 13:06] pomek commented on #23
I would like to add a comment regarding to the second part of the issue:

I've checked a few packages and I would like to share with the conclusions:

- [`pug-runtime`](https://www.npmjs.com/package/pug-runtime) publishes two different things. On GH we have the whole repository, on the NPM we have dedicated build which is made before the publishing (https://github.com/pugjs/pug/tree/master/package

[2017-09-27 15:04] Reinmar commented on #23
OK, socket.io and sizzle publish exactly the same readme using the root package.json. pug-runtime have a complicated release script which I don't want to work on and maintain.

Also, we need to consider the fact that our main release tools should not need to know about how builds need to be published. And, for instance, they are doing `npm version` directly in the root of the repository. So, we sh

[2017-09-27 22:55] Reinmar commented on #8
Interesting results from [React's world](https://facebook.github.io/react/blog/2017/09/26/react-v16.0.html#reduced-file-size):

[2017-09-28 10:39] fredck commented on #8
Wow... impressive numbers. If we are supposed to have similar results, we should strongly consider doing this move earlier than later.

[2017-09-28 10:45] Reinmar commented on #8
I don't think that we'll be able to save that much, but even 10% size decrease would be worth the time.

[2017-09-28 12:07] #23 closed

[2017-10-12 09:52] onurozkan opened #26 "Windows Build"
Hello,

Currently build scripts does not work on Windows.

Is there any plan for Windows support soon? or any hacks/tricks for now?

Thanks.

[2017-10-12 10:01] Reinmar commented on #26
Hey!

How does it break now? It may be something simple, but we didn't test it on Windows yet so I really don't know.

As for Windows support in general, I guess it's a high time that we provide it for at least the builds. Support for the entire [development environment](https://docs.ckeditor.com/ckeditor5/latest/framework/guides/contributing/development-environment.html) is something bigger and f

[2017-10-12 10:07] pomek commented on #26
About half of the year ago I tested our test tools on Windows and one issue which I found was invalid regexp for Windows.

I guess the same problem can occur here. When we made a config file, we assumed that Webpack will be executed on Unix. So regexps have been written for Unix paths.

If we fix the regexp for Windows, most probably the problem won't occur anymore. It's worth checking.

[2017-10-12 10:49] onurozkan commented on #26
Tried few things.

This is the result of default build as "**npm run build**"

[code]
Later i changed create entry file script to this; "node bin/create-entry-file.js".

[code]

And eventually i checked shell script, saw webpack, and changed "build-ckeditor" command to "webpack".

This is the the error i got.

[code]

I think we are now in same page with @pomek

[2017-10-12 11:15] onurozkan commented on #26
We can easily skip first 2 problems just by changing these lines. But cgywin required for shell script. Tried on Mac and Windows, worked well.

[code]

So only problem probably regexp.

[2017-10-12 11:16] pomek commented on #26
Looks like the problem with regexps. It should be an easy-to-solve thing. Instead of `\/` you could use `\\\\`.

[2017-10-12 11:17] pomek commented on #26
And we could detect whether use Unix / Windows separator path in regexp.

@Reinmar, WDYT?

[2017-10-12 11:23] onurozkan commented on #26
changed line to this, solved the problem.

[code]

[2017-10-12 11:42] Reinmar commented on #26
@onurozkan, great! Thanks for the details. Could you make a PR to this package with your changes?

We'll handle the regexp in https://github.com/ckeditor/ckeditor5-dev/tree/master/packages/ckeditor5-dev-webpack-plugin and see if something's left. @pomek, could you look into it?

[2017-10-12 11:43] pomek commented on #26
Yea. `\\\\` is ok in case if you create a regexp using the constructor (`new RegExp( string )`).

[2017-10-12 13:34] pomek commented on #26
Part of the ticket related to Webpack plugin has been reported here – https://github.com/ckeditor/ckeditor5-dev/issues/297.

[2017-10-12 13:35] #26 closed

[2017-10-12 13:40] pomek commented on #26
I applied changes from #27 to other builds repositories:

- https://github.com/ckeditor/ckeditor5-build-inline/commit/370d2a1eca0ff55fa33906e0c94eceb65b8eb246,
- https://github.com/ckeditor/ckeditor5-build-balloon/commit/3c280c333f7552b6b7814b77b42f554ff5edd48f.

[2017-10-12 14:34] Reinmar commented on #26
Thanks for the PR!

The other issue that we need to solve: https://github.com/ckeditor/ckeditor5-dev/issues/297.

[2017-10-20 21:22] Reinmar commented on #26
I've just released @ckeditor/ckeditor5-dev-webpack-plugin@2.0.20 – this version should fix the issue.

[2017-11-14 13:32] Reinmar commented on #18
We haven't got any reports about this so far. Perhaps simplicity has won and no one even thought about this. And people who do more complex integrations use their own Webpack setups. Besides, we have [CSS extraction covered by the docs](https://docs.ckeditor.com/ckeditor5/latest/builds/guides/integration/advanced-setup.html#Option-Extracting-CSS).

So, I'm closing this as invalid. Feel free to com

[2017-11-14 13:32] #18 closed

[2017-12-06 13:59] chihab opened #32 "Error: Cannot find module '@ckeditor/ckeditor5-theme-lark'"
Steps:
- npm install
- npm run build

Console Output:
[code]

ckeditor5-theme-lark package is present in node_modules folder.
Node: v7.6.0
Npm: 4.1.2
Webpack: 3.4.1

[2017-12-06 15:46] pomek commented on #32
I can confirm that everything works when you will build the editor from the latest tag (`v1.0.0-alpha.2`).

So, I recommend to check out the branch from master to tag (`git checkout v1.0.0-alpha.2`), then call `npm install` and `npm run build`.

We will fix the docs soon.

[2017-12-06 15:47] pomek commented on #32
![image](https://user-images.githubusercontent.com/2270764/33670333-1c36f378-daa5-11e7-836a-c54f41ed2ca1.png)

[2017-12-06 16:08] chihab commented on #32
Thanks @pomek. It works.

[2017-12-10 13:28] Reinmar commented on #32
Hopefully, the changes that I've made to the docs in https://github.com/ckeditor/ckeditor5/commit/7d3a5f6953a1d315349fe24e857fc50a04703943 will prevent such issues in the future.

In fact, it's unlikely that we'll ever do such big changes to the building process in a near future, so it can also be a one-time thing. But I prefer to be safe.

[2017-12-10 13:28] #32 closed

[2017-12-12 08:15] xinglie opened #33 "can not build editor"
I cloned the project and then run

[code]
after install

[code]
and I got an exception

[code]

am i missing something?

[2017-12-12 08:18] Reinmar commented on #33
We've updated the https://docs.ckeditor.com/ckeditor5/latest/builds/guides/development/custom-builds.html guide yesterday because more people stumbled that. Please check especially:

[2017-12-12 08:18] #33 closed

[2018-01-02 20:50] hultberg opened #34 "Classic editor does not work in firefox"
JSFiddle: https://jsfiddle.net/tv5x6zuj/

Hello. I was integrating the new CKEditor and I noticed that it did not work at all in firefox. I then thought this was something wrong with my installation, but I also noticed the examples in the documentation did not work either. This is reproducible in the linked jsfiddle.

Error message: `TypeError: e.on is not a function`

It works in chromium.

[2018-01-02 22:04] Reinmar commented on #34
All works fine for me:

![image](https://user-images.githubusercontent.com/156149/34501882-33722234-f011-11e7-81e4-cc274901543e.png)

Are you sure that you use an up to date version of Firefox?

[2018-01-03 08:01] hultberg commented on #34
@Reinmar Thanks. A co-worker also confirmed it was working. I'm using the latest stable (57.0.3 64-bit linux). CKeditor worked after disabling "Vimium" addon (https://github.com/philc/vimium), I'm opening an issue there.

[2018-01-03 08:01] #34 closed

[2018-01-03 12:51] Reinmar commented on #34
Good to hear :).

BTW, the error you get made me think that perhaps they are poorly overriding `Element#addEventListener()`. See https://github.com/ckeditor/ckeditor5/issues/683#issuecomment-346582285. Zone.js fixed their code but since we expect to see more issues like this (and some more stubborn or slower-reacting projects) we recently changed our way of checking whether something is a native D

[2018-01-04 04:13] gdh1995 commented on #34
Yes, Vimium has hooked `Element::addEventListener` since https://github.com/philc/vimium/pull/2871 .

Why not use `instanceof Element` to do such a check? An demo:
[code]

[2018-01-04 08:42] Reinmar commented on #34
It's a bad practice to override native methods. They should be very careful when doing so. CKEditor is not the only project using lodash's `isNative()` which does `toString() ~= [native code]` check.

It's not that simple because of iframes, but yes – we switched to this approach: https://github.com/ckeditor/ckeditor5-utils/blob/master/src/dom/isdomnode.js

[2018-01-16 04:59] gdh1995 commented on #34
Well, since zone.js, [Raven.js](https://github.com/getsentry/raven-js) and Vimium have hooked `addEventListener`, I think it's a real and necessary need to do this. But if only someone wants to keep `isNative`, then these libraries and extensions will **have to hook `Function.prototype.toString` too** - if more than one extension does this, the result will be:
[code]

So does it for `addEventListe

[2018-01-18 01:23] formspoint opened #35 "Deploying ckeditor5 classic build to a Staging Server does not work in Meteor"
I installed the classic build like so:

[code]

and my package.json file has the dependency list:

[code]

I import and use the classic editor like this:

[code]

everything works locally, but when I deploy, unlike the other packages in my project, the only thing that renders is the textarea tag and not the actual ckeditor5 lib.

Any I should check on?

[2018-01-18 10:55] Reinmar commented on #35
There are many things that might be broken when you deploy your code, but few of those things have anything to do with the editor. It's therefore hard for me to help you. There's a huge chance that the problem is not the editor but something about your deploy process.

Anyway, check the JS console, make sure you cleared the cache, check whether something at all happened. The editor, if tried to in

[2018-01-18 20:20] formspoint commented on #35
UPDATE:

UPDATE:

I put more debugging in, it never gets to the ```console.log('!! EDITOR: ', editor);``` line, but does log the ```console.log('## Sub Ready');``` line.  Basically it crashes when trying to use ClassicEditor.  I think the editor is not defined for some reason.  Does the editor have any special Node.js requirements or lib requirements?

Lots more console logs:
[code]

[2018-01-19 09:27] Reinmar commented on #35
But how does it crash? The most important thing and the first thing to report is usually the steps (which you partially done) and the stack trace. The latter is still missing ;)

[2018-01-19 15:02] formspoint commented on #35
Thanks.

The steps to reproduce are:

I installed the classic build like so:

[code]

and my package.json file has the dependency list:

[code]

I import and use the classic editor like this:

[code]

Added the code to create the Classic Editor in my onRendered method for the Blaze template:

[code]

Added code to the template for the Editor
[code]

Run it locally and the Editor works/renders fine

[2018-01-19 15:55] Reinmar commented on #35
Could you disable minification or enable source maps? It's hard to tell anything based on a minified stack trace.

[2018-01-19 15:59] formspoint commented on #35
Thanks.  I’ll look into deploying without minification. If I chant get around this, what are our alternatives?

[2018-01-19 16:09] Reinmar commented on #35
Checking this with a debugger on a minified source. But we won't be able to help you. We can neither see the bug nor debug it, so taken that the entire infrastructure of Meteor is involved, we have no ability to guess what might went wrong.

[2018-03-07 16:29] whboy opened #38 "can not build"
`'use strict';

module.exports = {
	// The editor creator to use.
	editor: '@ckeditor/ckeditor5-editor-classic/src/classiceditor',

	// The name under which the editor will be exported.
	moduleName: 'ClassicEditor',

	// Plugins to include in the build.
	plugins: [
		'@ckeditor/ckeditor5-essentials/src/essentials',

		'@ckeditor/ckeditor5-adapter-ckfinder/src/uploadadapter',
		'@ckeditor/ckeditor5

[2018-03-07 19:38] Reinmar commented on #38
Please see my answer in https://stackoverflow.com/questions/48943719/how-to-install-plugins-in-ckeditor-5. You're trying to install a plugin which hasn't have its first official release yet and this can only be done in the [development environment](https://ckeditor5.github.io/docs/nightly/ckeditor5/latest/framework/guides/contributing/development-environment.html).

[2018-03-07 19:38] #38 closed

[2018-03-08 01:07] whboy commented on #38
@Reinmar Thanks for your reply

[2018-03-17 02:23] carltoncolter opened #41 "Pulling in the theme"
For some reason when I use the build, it doesn't pull in the theme correctly or something strange is happening where the styles are not coming over, then I get the strange layout below.  While my code is submitted to GitHub, I don't want you to have to go through it, if you can point me in the right direction, I'd greatly check it myself.

[2018-03-17 02:27] carltoncolter commented on #41
![image](https://user-images.githubusercontent.com/25727192/37550761-2c546f98-2969-11e8-81cf-8c3810d75e1f.png)

[2018-03-19 07:36] Reinmar commented on #41
I assume you customised and rebuilt one of the existing buids, yes? Could you post your `webpack.config.js` and all the things that you changed? And... npm version just to be sure.

[2018-03-19 11:56] Reinmar commented on #41
Potential DUP in https://github.com/ckeditor/ckeditor5-build-balloon/issues/15.

cc @oleq – I'm afraid that the style builder has some problems.

[2018-03-19 11:58] gauravjain028 commented on #41
@Reinmar
I tried with Classic editor build, it is working for me, but Balloon editor is not working for me. I tried with default webpack.config.js

[2018-03-19 12:04] Reinmar commented on #41
I can't think of any difference between these two builds which could matter here :|. Could you paste here exactly what commands you executed and in what order?

[2018-03-19 12:07] gauravjain028 commented on #41
1. I downloaded as Zip.
2. Run command `npm install`
3. Run command `npm run build`
4. opened the `sample/index.html` in browser.

[2018-03-19 12:16] Reinmar commented on #41
What did you download? The release from here?

![image](https://user-images.githubusercontent.com/156149/37595103-c49a3f20-2b77-11e8-8bd7-e6f37518b128.png)

[2018-03-19 12:26] gauravjain028 commented on #41
I download it from stable branch but I tried from Release section as well and found same problem.

[2018-03-19 13:50] AnnaTomanek commented on #41
It's the same for me, when trying to build the docs (`npm run docs`) on the `stable` branch.

I cloned the `ckeditor5` repository fresh.
I followed the steps from the [Development environment](https://docs.ckeditor.com/ckeditor5/latest/framework/guides/contributing/development-environment.html#setting-up-the-ckeditor-development-environment) guide.
Also tried `lerna clean` and `lerna bootstrap`.

[2018-03-19 13:53] carltoncolter commented on #41
Here is my [repository with all of my changes](https://github.com/carltoncolter/ckeditor5-dynamics365) with all of the changes, etc.  I started to make it so that you could use CKEditor5 as a custom control in Dynamics CRM 365 to enable html editing of a field.

My npm version is 3.10.10
My nodejs version is 6.11.2
I am using Visual Studio Code.  I changed the project.json to run webpack directly

[2018-03-19 20:45] carltoncolter commented on #41
The bug is in the devutils, themeimporter.js  It is doing a name match on ckeditor5- in getPackageName

There are a lot fo ways to resolve this...  currently the match is:

`const match = inputFilePath.match( /ckeditor5-[^\\/]+/ );`

I changed mine to:

`const match = inputFilePath.match( /@ckeditor\/ckeditor5-[^\\/]+/ig );`

This does two things, one, it ensures I'm getting the last ckeditor5- ma

[2018-03-19 20:47] carltoncolter commented on #41
You could just use: `const match = inputFilePath.match( /ckeditor5-[^\\/]+/ig );`  That would fix it too and may be more flexible for the other dev areas...

[2018-03-19 20:57] carltoncolter commented on #41
This is what I now see after the change:
![image](https://user-images.githubusercontent.com/25727192/37621848-8e827104-2b96-11e8-9ab7-be97d78beed6.png)

[2018-03-19 21:12] carltoncolter commented on #41
Created a pull request for ckeditor5-dev that makes the change to resolve the issue.

[2018-03-20 10:34] AnnaTomanek commented on #41
Changing the folder name from `ckeditor5-workspace\ckeditor5` to `cke5-workspace\ckeditor5` fixed the issue for me. Thanks!

[2018-03-20 10:57] oleq commented on #41
Just FYI:

The name of the package in the algorithm is necessary for 2 reasons:
1. Developers can use a custom entry point JS file passed to Webpack. They can include their own CSS imports the, unrelated to CKE5. To make sure our theme importer does **not** process those imports, we must check if the CSS file it is about process belongs to some CKE5 package (ckeditor5-*).
2. The package name is us

[2018-03-22 15:17] MahediSabuj opened #42 "custom build create broken toolbar"
I clone the stable branch then install all the package without change anything. After that when I try to rebuild the bundle, it gives me broken toolbar (see the image).

![ckeditor_custom_build](https://user-images.githubusercontent.com/35859676/37779309-510c70ae-2e16-11e8-81a9-2bc95e2d8775.jpg)

[2018-03-22 15:47] pomek commented on #42
Looks like DUP of https://github.com/ckeditor/ckeditor5-build-classic/issues/41.

[2018-03-22 20:31] Reinmar commented on #41
It should be fixed now (see https://github.com/ckeditor/ckeditor5-dev/pull/386). I released a new version of `@ckeditor/ckeditor5-dev-utils` so the fix should be already available for you.

[2018-03-22 20:31] #41 closed

[2018-03-22 20:31] Reinmar commented on #42
It should be fixed now (see https://github.com/ckeditor/ckeditor5-dev/pull/386). I released a new version of `@ckeditor/ckeditor5-dev-utils` so the fix should be already available for you.

[2018-04-05 16:42] Reinmar commented on #8
I don't think that we'll do this change. Having builds based on webpack gives us the most common environment. Also, our plugins required to build the editor's translations are only available for webpack for now.

[2018-04-05 16:42] #8 closed

[2018-04-10 18:46] Reinmar commented on #12
We figured out that following the editor name is better because the exported thing is still the editor. See https://github.com/ckeditor/ckeditor5-build-decoupled-document/issues/6.

[2018-04-10 18:46] #12 closed

[2018-05-08 14:17] giorgiopagnoni opened #44 "Problem with webpack in production"
I don't know if this is specific to the classic build, but whenever I try to compile this for production with yarn with `yarn encore production`, I get this error:

[code]

This is how i use it: `CK = require('@ckeditor/ckeditor5-build-classic');`

It works correctly in development mode.

[2018-05-08 14:42] ma2ciek commented on #44
Hi @giorgiopagnoni,

Thanks for reporting the issue.

Could you provide more details?

What does exactly `yarn encore production` do? Does it come from https://github.com/symfony/webpack-encore? Because we don't provide such script and I can't guess what exactly webpack config is generated from that command.

The usage of `UglifyJs` makes me feel, that your ecosystem might doesn't support ES6+ as

[2018-05-08 14:54] giorgiopagnoni commented on #44
[You pointed me in the right direction](https://github.com/symfony/webpack-encore/issues/139#issuecomment-322592989). Thank you!

[2018-05-08 14:54] #44 closed

[2018-05-08 14:59] ma2ciek commented on #44
We have a discussion about providing ES5-compatible builds. You can follow that link: https://github.com/ckeditor/ckeditor5-build-classic/issues/24.

[2018-05-30 14:47] Reinmar commented on #24
Interesting thread: https://twitter.com/reinmarpl/status/996395908811182080. Especially:

[2018-07-12 04:02] axetroy opened #50 "export ECMA5 code instead of ES2015"
I am using webpack to bundle `ckeditor5-classic`.

and I found some code still using ES6 code.

![1](https://user-images.githubusercontent.com/9758711/42611990-56386b02-85cb-11e8-9dd3-43a7f5117af4.png)

[code]

### All old version browser will throw an error includes IE11.

We should follow a principle that the package for the browser is always exported es5.

compatible forward.

[2018-07-12 12:44] Reinmar commented on #50
Please see my reply in https://stackoverflow.com/questions/51223969/why-ckeditor-does-not-care-about-compatibility. And https://github.com/ckeditor/ckeditor5-build-classic/issues/24

[2018-07-12 12:44] #50 closed

[2018-10-10 09:58] gauravjain028 opened #54 "Getting error "The global CKEDITOR_VERSION constant has already been set.""
I am using classic and balloon editor in same build. It was working before but after updating to v11.1.0 I am getting some errors.
My package.json is at https://github.com/gauravjain028/ckeditor5-build-classic/blob/decouple/package.json

The errors are like,
The global CKEDITOR_VERSION constant has already been set.
`{collidingVersion: "11.1.0", version: "11.1.0"}`
My build file is like https://gi

[2018-10-10 10:30] ma2ciek commented on #54
Hi, @gauravjain028

There's a high chance, that the `node_modules` are broken after upgrading versions of ckeditor packages. Have you tried `rm -rf node_modules && npm i`?

[2018-10-10 10:49] gauravjain028 commented on #54
Hi @ma2ciek ,

Yes, I have tried it various times. But still same error.

[2018-10-10 10:55] Reinmar commented on #54
There’s a chance that you custom plugin depend on old versions of CKEditor 5 libs. Have you checked that?

Sent from my iPhone

[2018-10-10 11:30] ma2ciek commented on #54
I've built your sample locally after [these steps](https://github.com/ckeditor/ckeditor5-build-classic/issues/54#issuecomment-428521881) and it works fine.

[2018-10-10 11:58] gauravjain028 commented on #54
@Reinmar My custom plugins our not installed as external package. They are built inside the build.

@ma2ciek Did you check `decouple` branch of it ?  I tried again after cleaning npm cache, but still same error.

[2018-10-10 12:11] ma2ciek commented on #54
Could you run `npm list | grep ckeditor5-utils` and check whether only one is installed? What NPM version do you use?

[2018-10-10 12:18] ma2ciek commented on #54
Maybe you could also run `rm -rf build` to make sure that you have clean build. And make sure you run `ctrl/cmd + r` in the browser (just some random ideas).

[2018-10-10 12:19] gauravjain028 commented on #54
[code]

It is 75 times, but same version I guess and my npm version is 6.2.0

[2018-10-10 12:31] ma2ciek commented on #54
It should be deduped all the times except the first one... And I've checked it on the `npm 6.2.0` and the result was also correct on my machine:

[code]

I don't know actually how to help you if you're sure that you remove `node_modules` before the installation.

[2018-10-10 13:00] gauravjain028 commented on #54
After running `npm dedupe` it start to work. But when I do `npm list | grep ckeditor5-core`, it gives

[code]

I hope that is not any issue.

[2018-10-11 05:15] gauravjain028 commented on #54
Well, I removed them manually for sure.

Thanks for you time and help. Really appreciate it.

[2018-10-11 05:15] #54 closed

[2018-10-11 09:36] ma2ciek commented on #54
I'll set it as invalid, but if more people will have trouble with this topic I'll investigate it deeper.

[2018-10-11 22:48] CurtisConway opened #55 "Possible Syntax Error in the "setUpListeners" Function"
## Type of report

Bug

## Provide detailed reproduction steps (if any)

1. Import the ClassicEditor into a vue component and try to mount it on an element within the component

[code]

2. Visit any page trying to render said component

### Expected result

Editor mounts to the text area included in the Vue component

### Actual result

You get an error 'TypeError: Cannot read property 'eventListe

[2018-10-12 06:48] pomek commented on #55
It can be completely unrelated but I guess it's worth to mention that the minified version of the build does not work correctly with the latest version of RCA ([reported a ticket here](https://github.com/facebook/create-react-app/issues/5387). In the beginning, I was thinking that something broken is in RCA but after reading your issue I am not sure at all.

[2018-10-12 06:54] pomek commented on #55
https://jsfiddle.net/pomek/58dex97y/ – there is my an example component that uses Vue and CKEditor 5 Classic Build.

It seems to work.

[2018-10-12 08:08] pomek commented on #55
By the way, which browser are you using?

[2018-10-16 10:35] pomek commented on #55
I guess the issue is caused by Babel which tries to transpile the build (written in ES6 and minified) to ES5 which fails and after running the application it ends with the error.

But I've never done anything with Vue and its CLI and my comment may be invalid. If so, sorry for that.

cc: @oleq

[2018-10-16 13:57] oleq commented on #55
We're going to implement a Vue integration in a short time. I'll get back to this issue when we work on that.

[2018-10-16 15:16] CurtisConway commented on #55
Thank you for looking into this @oleq and @pomek.

[2018-10-17 07:45] oleq commented on #55
Have your say in https://github.com/ckeditor/ckeditor5-vue/issues/1 ;-)

[2018-12-26 11:07] m4noj opened #62 "Add Alignment feature to the editor"
## add alignment feature plugin to the editor.
 here's a pull request : #61

[2018-12-31 10:57] oleq commented on #62
We're aware that none of the editor builds ships with all the available features (plugins). But we did it on purpose.

The idea behind this particular build is to keep it simple and, most of all, semantic content–oriented. The alignment feature is about visual formatting, not about the content semantics so it does not belong in this build.

If you need a build-classic with the alignment feature, y

[2018-12-31 10:57] #62 closed

[2019-02-15 07:22] Joo-fanChang opened #65 "Lack of Chinese Translation"
/build/translations/zh-cn.js

Insert column left - 在左侧插入一列
Insert column right - 在右侧插入一列

[2019-02-15 09:54] Reinmar commented on #65
Hi! CKEditor 5 translations are managed via Transifex: https://transifex.com/ckeditor/ckeditor5

You can join the Chinese team and submit them. Thank you!

[2019-02-15 09:54] #65 closed

[2019-02-28 10:30] Mgsy commented on #35
I'm closing it due to a lack of activity.

[2019-02-28 10:30] #35 closed

[2019-03-05 10:26] LeeHyungGeun opened #66 "Could I get style of ClassicEditor?"
I am using WebComponent, and it should be added style into shadow-root so do you have anyway to get style which will be added head of HTML?

[2019-03-07 10:37] Reinmar commented on #66
Did you see https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/advanced-setup.html#option-extracting-css? Does it solve your problem?

[2019-03-18 10:28] #66 closed

[2019-04-01 18:28] philippescher opened #68 "Can't use CKEditor wrapped in FormControl in production"
I built my own FormControl to wrap CKEditor and make it available in forms in Angular. Every time I use that component in dev mode it works fine. But building it in production mode turns out the following error: **TypeError: Cannot read property 'childCount' of undefined**

`main.431acef81eadd6e278df.js:1 TypeError: Cannot read property 'childCount' of undefined
    at 6.60d03c575b32ccb858be.js:1

[2019-04-02 08:33] Mgsy commented on #68
Hi, could you write exact steps to reproduce, so we could check it on our side?

[2019-04-02 09:59] philippescher commented on #68
I wrapped the CKEditor in my Angular component like that: https://gist.github.com/philippescher/c4374d7d9aa44a4ae54aeb99738a8767

Then I use it in the application and it works beautiful in DEV-mode. As soon as I build the production version of the application via [ng build --prod](https://angular.io/cli/build) and deploy it anywhere it does not work anymore and the named error appears which says m

[2019-04-02 10:07] Mgsy commented on #68
@ma2ciek, could you take a look at this one?

[2019-04-02 10:19] ma2ciek commented on #68
It looks like some weird transpilation error 😢

Could you tell me what angular version do you use? And which ES version do you target in your `tsconfig.js`? Maybe I'll be able to reproduce it.

[2019-04-02 10:29] philippescher commented on #68
I use Angular v7 (7.1.4) even for the Angular CLI of course. My tsconfig.json looks like the following:

[code]

[2019-04-02 15:18] ma2ciek commented on #68
I've checked this with very similar settings on https://github.com/ma2ciek/ckeditor5-angular-test/. Unfortunately, everything worked fine for me. Could you ensure that when the compilation is near the end the TerserPlugin is used as the webpack's minifier? Or could you try to create a simple repository with reproducible error?

<img width="331" alt="Screenshot 2019-04-02 at 16 51 14" src="https://

[2019-04-02 15:19] ma2ciek commented on #68
@Reinmar, could you transfer this issue to the `ckeditor5-angular` repository?

[2019-04-02 15:20] ma2ciek commented on #68
Just to be sure, @philippescher, you're using latest `@ckeditor/ckeditor5-build-classic` from NPM?

[2019-04-02 15:27] ma2ciek commented on #68
Ok, I'm confirming it. The problem comes with the placeholder option in the production mode.

[2019-04-02 15:35] ma2ciek commented on #68
Unfortunately, it's an upstream bug. I'll check if we can do something with it. If not, please don't use the placeholder option for now.

[2019-04-02 15:59] philippescher commented on #68
Thanks for helping out, without using placeholder it's working as expected. Thank you!

[2019-04-02 15:59] ma2ciek commented on #68
Or, if that's feasible for you, you can target ES6 instead of ES5. That will probably prevent such incorrect transpilation.

[2019-04-02 16:34] ma2ciek commented on #68
I'll try to debug it more deeply later. It's time-consuming since two minifiers (uglify-es and terser) are applied on the code.

[2019-04-15 12:05] imyyg opened #69 "Input Chinese Style Lost"
设置样式不支持中文输入，已在官方示例中重现问题，例如点击加粗，输入英文字体正常加粗，在输入法中输入中文确认后没有加粗样式，其他斜体，字体大小等问题一样。 @Reinmar #66

[2019-04-15 12:06] Mgsy commented on #69
Hello, could you edit your issue and translate your message to english?

[2019-04-15 12:10] imyyg commented on #69
Setting style does not support Chinese input, which has been reproduced in official examples, such as click bold, input English font normal bold, input Chinese confirmation in the input method after no bold style, other italics, font size and other issues are the same.

[2019-04-15 12:12] imyyg commented on #69
There is no such problem in the official ckeditor4 example

[2019-04-15 12:30] Mgsy commented on #69
Thanks for the report. Unfortunately, composition in CKEditor 5 has some issues and we're still working on it.

However, I can't find this issue reported, so I'll close it as a duplicate and move it to the proper repository - https://github.com/ckeditor/ckeditor5-typing/issues/188.

[2019-04-15 12:30] #69 closed

[2019-04-15 12:43] imyyg commented on #69
Sorry, I don't quite understand what you mean, is that you can't reproduce this problem?@Mgsy

[2019-04-15 12:46] Mgsy commented on #69
I'm able to reproduce it and your issue is valid. I've just moved it to the repository in which we track all problems related to handling composition.

[2019-04-15 13:08] imyyg commented on #69
OK，thank you

[2019-04-17 22:46] dstj commented on #68
Glad I found this thread, I'm having the exact same issue, but with the `DecoupledEditor`. Any ETA on the solution?

[2019-04-29 09:06] techsiren5525 opened #71 "angular Uncaught SyntaxError: Invalid or unexpected token error when deployed in a SSL domain."
I continuously getting this unexpected token issue after deploying the application our production environment with SSL. the error seems to suggest unexpected token in following line in ckeditor.js.

this.setTemplate({tag:"svg",ns:"**http:**//www.w3.org/2000/svg",

i donet know what the issue is seems like a mix content issue. can anyone check this out.

[2019-04-29 09:18] Mgsy commented on #71
Hello, it's difficult to examine your problem, because you didn't provide much information in your message.
Could you please paste here the output from your console and check whether the problem occurs outside your production environment (i.e. on localhost)?

As I see from the title, you're integrating CKEditor 5 with Angular. Did you follow our [integration guide](https://ckeditor.com/docs/ckedit

[2019-04-29 09:45] techsiren5525 commented on #71
yes its a angular 7 application. i have followed the integration guide. it works perfectly fine in local host. following is the console error.

VM256 7.efac5e217508c0718ff9.js:1 Uncaught SyntaxError: Invalid or unexpected token
main.635c204f962fdc961f64.js:1 ERROR Error: Uncaught (in promise): Error: Loading chunk 7 failed.
(missing: https://www.xxxxxxxx.com/7.efac5e217508c0718ff9.js)
Error: Loadi

[2019-04-30 08:01] Mgsy commented on #71
Can I ask you to check whether this issue occurs also without Angular integration, i.e. in pure CKEditor 5 classic build?

[2019-04-30 08:51] #71 closed

[2019-04-30 10:47] Giribaldi opened #72 "[Meteor + react ] custom upload adapter works with npm package but not custom build"
Hi,
I tried to make a custom build of the classic editor because the npm package was missing a few plugin that I needed.
The problem is that my custom adapter isnt working anymore and I can't figure out what the problem is.

Here is my ckeditor file pre build

[code]

here is my custom upload adapter

[code]

I'm uploading to cloudinary, i'm getting an error :
`Unsupported source URL: [object Prom

[2019-04-30 11:11] Mgsy commented on #72
Hello, does your console contain more errors (except the one you've mentioned)? Can I ask you to check whether your implementation works fine without Meteor and React integration?

[2019-04-30 13:02] Giribaldi commented on #72
I finally managed to track where the problem was.
Turns out that with the npm package this.loader.file returned the file like it was supposed to.
With the custom build it sent the "file" even if the promise from the loader was still pending so I just had to wait until the promise from the loader was finished

[code]

thank you for your time

[2019-04-30 13:02] #72 closed

[2019-05-02 12:02] rezonjov commented on #68
I'm having similar issue as well with production build with Angular 7.2.14.
The workaround for now would be to set the content placeholder after view init

[2019-05-03 02:22] l0v3w4v3 commented on #68
@rezonjov may I see that solution? I can't find any method of ckeditor to manually set the content placeholder

[2019-05-11 09:47] philippescher commented on #68
Any updates on this one?

[2019-05-11 10:42] ma2ciek commented on #68
Hi @philippescher,

Sorry, I was busy with other tasks, I'll look at this problem once again in the upcoming week.

[2019-05-13 09:36] ma2ciek commented on #68
The problem exists in the double minified `updatePlaceholder` function:

The original code of the function is:

[code]

after the minification of CKEditor 5 sources becomes:

[code]

Which after building Angular project with the `--prod` flag is parsed by the Terser minifier to the following invalid function:

[code]

I'm gonna create a minimal reproducible function and report it to the Terser tea

[2019-05-13 10:53] ma2ciek commented on #68
Hm, I couldn't reproduce it using terser CLI on the `ckeditor5.js` code / Angular's `vendor.js` code. So maybe the code is somehow precompiled before applying the Terser.

[2019-05-13 11:30] ma2ciek commented on #68
Ok, finally I was able to reproduce it:

Original code:
[code]

is parsed to the following:
[code]

terser options:

[code]

[2019-05-13 11:55] ma2ciek commented on #68
@Mgsy, @Reinmar, could you transfer the issue to the main repository? The problem is more generic as it touches all builds and it's angular independent.

[2019-05-13 12:07] ma2ciek commented on #68
Upstream ticket: https://github.com/terser-js/terser/issues/348.

[2019-05-13 14:53] fiberstar commented on #68
i have met the same bugs.

[2019-05-13 15:15] ma2ciek commented on #68
@fiberstar

[2019-06-14 04:08] EnochG1 opened #77 "[Question] Customizing font family with classic build"
npm version: 12.2.0

Hi, I'm trying to add font family toolbar following Font guide.
https://ckeditor.com/docs/ckeditor5/latest/features/font.html

[code]

But I can't see fontFamily toolbar.
And checking node_modules, your package.json hasn't @ckeditor/ckeditor5-font
![image](https://user-images.githubusercontent.com/19601207/59482672-d02e8080-8ea4-11e9-9e30-30d07ed9de8f.png)

So I tried followin

[2019-06-14 07:40] jodator commented on #77
HI, did you follow the [duplicated packages error explanation](https://ckeditor.com/docs/ckeditor5/latest/framework/guides/support/error-codes.html#error-ckeditor-duplicated-modules)? In short you cannot add plugins to an existing editor build. Instead you should create a [new build and add a plugin to it](https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/installing-plugins.html

[2019-06-25 01:30] zhyit opened #78 "update package version"
I found that many packages in this project need to be updated to the latest version.

[2019-06-25 03:15] zhyit opened #79 "copy from word with other Software"
I tried using Keckeditor ecosystem documentation
Demonstration edit box, but failed. I use WPS software, but the content copied in this software can not be copied to the editor, I hope to support various word software.

[2019-06-25 07:30] Mgsy commented on #79
We have already confirmed a feature request for WPS support. You can find it here - https://github.com/ckeditor/ckeditor5-paste-from-office/issues/58.

[2019-06-25 07:30] #79 closed

[2019-06-25 08:55] Mgsy commented on #78
We update all the CKEditor 5 packages after every release, also we keep proper versions of other packages to keep the best compatibility.

[2019-06-25 08:55] #78 closed

[2019-06-28 07:01] rajrs opened #80 "cannot find @ckeditor/ckeditor5-build-classic in angular 8"
//post component
import { Component, OnInit } from '@angular/core';
import * as ClassicEditor from '@ckeditor/ckeditor5-build-classic';

@Component({
  selector: 'app-post-editor',
  templateUrl: './post-editor.component.html',
  styleUrls: ['./post-editor.component.css']
})
export class PostEditorComponent implements OnInit {
public Editor = ClassicEditor;
  constructor() { }

  ngOnInit() {
  }

[2019-06-28 07:08] Mgsy commented on #80
Hello, did you install a package in your project via `npm i --save @ckeditor/ckeditor5-build-classic`? If so, please provide some more details, like errors messages etc.

[2019-06-28 07:13] rajrs commented on #80
entire code is available in stackblitz [https://stackblitz.com/edit/ng-webstore](url) @Mgsy

[2019-06-28 08:00] Mgsy commented on #80
Are you running your project only in StackBlitz or this error occurs also in your local environment?

[2019-06-28 08:33] rajrs commented on #80
yes only in stackblitz

[2019-06-28 08:48] rajrs commented on #80
same issue in local environment
![image](https://user-images.githubusercontent.com/4453931/60330204-8e76fd00-99af-11e9-8b2b-f3991b9ee7a8.png)

[2019-06-28 09:09] Mgsy commented on #80
cc @ma2ciek

[2019-07-01 14:35] Mgsy commented on #77
I'm closing it due to a lack of activity.

[2019-07-01 14:35] #77 closed

[2019-07-03 15:55] dbramwell commented on #62
@m4noj I think this is worthwhile, possibly as another package. I think text justification is an important part of a text editor as far as I can see there is no way for me to add the alignment plugin to me React app without ejecting from Create React App and messing with webpack. Any chance you could release your branch in NPM?

[2019-07-04 11:52] oleq commented on #62
@dbramwell You can fork this build, modify it (imports, config), build, then push to your GH and reference in your project.

[2019-07-28 06:36] Robyrogers opened #81 "Trying to import local build in React throws error"
I am trying to configure an existing build according to the documentation but importin the build to React throws an error in lodash-es depenedency

This the error:
./src/ckeditor5-build-classic/node_modules/lodash-es/_baseClone.js
Line 151: 'keysIn' is not defined no-undef

If I use the build from npm that one is working fine

[2019-07-28 06:40] Robyrogers commented on #81
I am trying to configure an existing build according to the documentation but importin the build to React throws an error in lodash-es depenedency

This the error:
./src/ckeditor5-build-classic/node_modules/lodash-es/_baseClone.js
   Line 151:  'keysIn' is not defined  no-undef

If I use the build from npm that one is working fine

[2019-07-28 19:46] ma2ciek commented on #81
Hi, @Robyrogers.

Why you import the GH uncompiled resources instead of the NPM build? If you want to customize the build, then you should build the `ckeditor5-build-classic` using the `npm run build` function and then import file from `ckeditor5-build-classic/build/ckeditor`. Or import the resources directly and configure the webpack configuration files.

[2019-07-29 04:30] Robyrogers commented on #81
![Screenshot from 2019-07-29 10-25-29](https://user-images.githubusercontent.com/11811491/62021849-3b30de00-b1eb-11e9-9130-de7bc3b12bbd.png)

@ma2ciek I am currently importing from `ckeditor5-build-classic/build/ckeditor` that I cloned into the src folder of my React App. I have also run `yarn install` followed by `yarn run build` inside `ckeditor5-build-classic` folder. However, I am still receiv

[2019-07-29 06:21] ma2ciek commented on #81
As I see the problem is with your linter, that tries to lint the build. So you should somehow exclude the `ckeditor5-build-classic` directory from linting. See that actually all of these are linter warnings.

[2019-08-03 07:36] Robyrogers commented on #81
I am having difficulty understanding how to import the newly built file. I added `/*eslint-disable` at the beginning of the build file at the linting errors doesn't show anymore. Now when I import it, it says there are no default exports.

[2019-08-03 09:47] ma2ciek commented on #81
Hi @Robyrogers,

Could you provide the exact error message?

You should build the editor using the https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/installing-plugins.html guide if you want to customize it, so the default export should be available in this file after the build.

[2019-08-03 10:29] Robyrogers commented on #81
Hi @ma2ciek
These are the errors. I can't seem to use the build file.
![Screenshot from 2019-08-03 16-27-31](https://user-images.githubusercontent.com/11811491/62410705-c525e000-b60b-11e9-9934-1ec727340625.png)
![Screenshot from 2019-08-03 16-27-39](https://user-images.githubusercontent.com/11811491/62410710-cbb45780-b60b-11e9-93c6-22800d5994ab.png)

[2019-08-30 08:50] Mgsy commented on #81
I've checked your issue and indeed I can reproduce the error after importing the local build.
Steps to reproduce:
1. Create a new project with `create-react-app`.
1. Clone `ckeditor5-build-classic` repository to the `src` directory.
1. Import the editor from the cloned repo.

@pomek, can you try to investigate it?

[2019-08-30 11:16] pomek commented on #81
Sorry guys but I am not able to reproduce the issue due to my PC limitation. Increasing the node's limit doesn't help.

[code]

But, AFAICS and what I can say:

- Those imports below are equal to each other from the Node point of view

[code]

    Because `@ckeditor/ckeditor5-build-classic` has defined the main file https://github.com/ckeditor/ckeditor5-build-classic/blob/66a0e5c8136974a97d3513f37

[2019-08-30 11:16] #81 closed

[2019-08-30 17:25] rodrigopasc opened #83 "React Build - Failed to minify"
Hi, how are you doing?

I am developing an app with React + CKEditor, but I'm getting the following message when I try to build:

What can I do to solve this problem?

Thank you for your time!

[2019-09-01 06:26] Robyrogers commented on #81
@pomek Thank you for your suggested solution. I will try it out and hopefully will be able customize the editor the way I want to.

[2019-09-02 08:11] Mgsy commented on #83
Hello, did you follow our [React integration guide](https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/react.html)?

[2019-09-02 13:17] rodrigopasc commented on #83
Yes. It is working now.

Thank you for your time & attention.

[2019-09-03 10:37] #83 closed

[2019-09-27 15:53] metalelf0 opened #86 "How to enable SimpleUploadAdapter on this build?"
Hi,

I'm trying to enable the `SimpleUploadAdapter` plugin in this build.

The [SimpleUploadAdapter guide](https://ckeditor.com/docs/ckeditor5/latest/features/image-upload/simple-upload-adapter.html) states:

I imported the `ClassicEditor` class like this:

[code]

And this is working correctly; I can setup an editor in page with the following code:

[code]

However, I am struggling to import the

[2019-09-30 10:26] Mgsy commented on #86
If you'd like to enable `SimpleUploadAdapter`, you have to create a custom build which will include this plugin. Please, see our [Installing plugins](https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/installing-plugins.html) guide. After enabling it in your build, you should [configure](https://ckeditor.com/docs/ckeditor5/latest/features/image-upload/simple-upload-adapter.html#c

[2019-09-30 10:34] metalelf0 commented on #86
Ok, guess I'll implement a custom adapter. Having to create a custom build to use the simple adapter kinda defies the purpose of the simple adapter, IMHO. Thank you!

[2019-09-30 11:48] Mgsy commented on #86
Thanks for the feedback. We're aware that the current solution for adding plugins to existing builds isn't convenient, but [we're going to improve it](https://github.com/ckeditor/ckeditor5/issues/667).

Right now, the only way for adding plugins (and `SimpleUploadAdapter` is a plugin) is described in guides mentioned in my previous posts.

[2019-09-30 11:48] #86 closed

[2019-10-04 09:18] nuzulfikrie opened #87 "Firefox developer edition. ": import declarations may only appear at top level of a module"

[2019-10-04 09:23] nuzulfikrie commented on #87
Hi , I cloned the git repository , and when i try load the javascript file via line
[code]
Firefox complained
_"import declarations may only appear at top level of a module"_

But when i load from build
[code]

The editor able to be rendered on the webpage with all configured plugins loaded.

I followed the method described in https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/in

[2019-10-04 10:36] Mgsy commented on #87
Hi, importing `src/ckeditor.js` won't work because the source should be built with Webpack. As you noticed, you should use `build/ckeditor.js` instead.

[2019-10-04 10:36] #87 closed

[2019-10-04 10:40] nuzulfikrie commented on #87
Hi. Thanks for the pointers.

On Fri, 4 Oct 2019, 18:36 Kacper Tomporowski, <notifications@github.com>
wrote:

[2019-10-06 12:05] woto opened #88 "Error: "export 'default' (imported as 'ClassicEditor') was not found in '@ckeditor/ckeditor5-build-classic'"
Hi, i've decided to try using ckeditor according with https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/react.html but stucked with error

[code]
i've also tried inline version and got similar error.

Have no idea what am i doing wrong. What else may i report to better understand where is the problem? Thank you!

[2019-10-06 17:14] woto commented on #88
Made a demo repo with a problem
https://github.com/woto/ckeditor_rails_react
clean steps reproducing guide https://github.com/woto/ckeditor_rails_react/commit/94f99385c4496d89d05de8ffff0d0123a757c57b

[2019-10-07 10:55] Reinmar commented on #88
Hi! Thanks for providing all the steps, we really appreciate that.

However, this issue is odd because I assume that the mentioned integration method works for the great majority of people since this is the first report mentioning such a problem. Therefore, I think that there may be something specific in your setup which causes this.

I've seen your PR and it doesn't change the code semantics. It'

[2019-10-07 10:57] Reinmar commented on #88
PS. Perhaps we can also change the way how we export this class in `ckeditor.js` files, but I'd like to know why and confirm which way is more correct, if we were to change that.

[2019-10-07 14:04] Reinmar commented on #88
EDIT: I meant https://github.com/ckeditor/ckeditor5-build-classic/pull/89.

[2019-10-07 14:41] woto commented on #88
@Reinmar thank you for replay

Changed as you proposed. For now getting another error. Will try to dig it later
![image](https://user-images.githubusercontent.com/146704/66321751-bb7d6900-e929-11e9-934d-327e1ed5eae0.png)

[2019-10-07 17:44] woto commented on #88
@Reinmar wow, accidentally i made it works :)

https://github.com/woto/ckeditor_rails_react/commit/fcf8f753c794b503128e6c23b521998b968f5782#diff-4eb01bf0c37b5cc636b6fb94e2ce76bf

Sorry i'm not JS master and i may be wrong, but i'm sure that there is a problem in wrong ES6 exporting of  ClassicEditor.

![image](https://user-images.githubusercontent.com/146704/66335094-f6d86180-e942-11e9-8935-1d6037